
.infoForm{
    width: 260px;
    margin: 20px auto;
    min-height: 230px;
    background-color: #278235;
    padding: 30px;

}
.inputBox input[type=text]{
    padding: 0 10px;
    color:white
}
::placeholder{
    color: rgb(211, 210, 210);
}

.inputBox{
    font-size: 22px;
    height: 35px;
    width: 200px;
    border: none;
    color:white;
    background-color: #278235;
    border-bottom: 2px solid white;
}

.inputCol{
    padding-bottom: 20px;
}


.submitInfo button{
    cursor: pointer;
    width: 200px;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 15px;
    background-color: white;
    border: 2px solid white;
    border-radius: 25px;
    color: #278235;
}
.submitInfo button:hover{
   color: lightgreen;
   background-color: #278235;
   border:2px solid lightgreen;
}


.errorMessage{
    display: none;
}

.errorMessage h5{
    padding-top: 5px;
    text-align: left;
    font-size: 14px;
    color: lightgreen;
}
.errorMessage ::before{
    padding-right: 5px;
    color:  lightgreen;

}