*{
    margin: 0;   
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    background-image: url('/Images/BG-image.jpeg');
}

.page-body{
    margin-left:100px;
}

li {
    list-style: none;
}
a{
    text-decoration: none;
}


/* Styling for navigation header */

nav {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100%;
    /* background-color: rgb(0, 168, 150, 0.9); */
    background-image:linear-gradient(45deg, rgb(5, 96, 139, 0.5), rgb(5, 96, 139, 1));
    position: fixed;
    top: 0;
    z-index: 100;
    align-items: center;   
}

.Nav-Links{
display: flex;
flex-direction: column;
justify-content: space-around;
}

.Nav-Links li{
    padding-top: 50px;
}
.Nav-Links a{
    font-size: 22px;
    font-weight: 500;
}
.Nav-Links a:link, .Nav-Links a:visited{
    text-decoration: none;
    color: white;
}

.Nav-Links a:hover, .Nav-Links a:active{
    
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    padding: 0 0 2px 0;
}

.Burger div{
    height: 3px;
    width: 25px;
    background-color: white;
    margin:4px;
}
.Burger {
    display: none;
    position: absolute;
    right: 20px;
}

@media screen and (min-width:769px){
    .logo{
        position: relative;
        top: 20px;   
    }
}

/* styling for small device */
@media screen and (max-width:768px){
    
    /* styling for navigation header in small device*/
    body{
        overflow-x: hidden;
    }
    .page-body{
        margin-left:0px;
        padding-top: 10vh;
    }
    .logo{
        position: absolute;
        left:10px;
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 0px;
        min-height: 8vh !important;
        position: fixed;
        top:0px;
        width: 100%;
        z-index: 100;
        /* background-color: rgb(0, 168, 150, 0.9); */
        background-image:linear-gradient(90deg, rgb(5, 96, 139, 0.7), rgb(5, 96, 139, 1)) !important;
    }    
    .Nav-Links{
        position: absolute;
        right: 0px;
        height: 50vh;
        top: 8vh;
        width:50%;
        background-image:linear-gradient(-135deg, rgb(5, 96, 139, 1), rgb(5, 96, 139, 0.7));
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;    
    }
    .Nav-Links li{
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .Nav-Links a{
        font-size: 22px;
        font-weight: 500;
    }
    .Nav-Links li{
        opacity: 0;

    }
    .Nav-Active{
        transform: translateX(0%);
    }
    @keyframes navLinksFade {
        from{ opacity: 0;
        transform: translateX(50%);}
        to { opacity: 1;
        transform: translateX(0%);
        }
    }
    
    .Burger{
        display: block;
    }
    
    .toggle .line1{
        transform: rotate(-45deg) translate(-5px, 5px);
    }
    .toggle .line2{
       opacity: 0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-5px, -5px);;
    }
}

/* footer navigation css */


