/* styling of tracker page */

/* styling of fields */
.pageTitle{
    color: #028090;
    line-height: 32px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    /* background-color: rgb(144, 238, 144); */
}
.pageTitle h1{
    font-size: 44px;
}
.goToProfile{
    padding-left: 10px;
    padding-top: 20px;
}

.goToProfile a{
    color: #028090;
    border-bottom: 2px solid #028090;
}
.goToProfile a:hover{
    color: #00a896;
    border-bottom: 2px solid #00a896;
}

.caloryEntry form{
    border-bottom: 2px solid white;
    padding-bottom: 20px;
}
.row{
    display: flex;
    width: 100%;
    align-items: top;
    padding: 10px;
}
.col{
    width: 50%;
}
.labels{
    margin: 0 10px;
    position: relative;
    top: 10px;
    text-align: left;
    left: 20px;
    color: #028090;
    width: fit-content;
}
.col label{
font-size: 14px;
font-weight: 500;
padding-left: 4px;
font-weight: bold;
background-color: white;
}
.required{
padding-right: 4px; 
background-color: white;
color: #028090;
font-weight: bold;
}
.textbox{
    margin-right: 10px;
    border:2px solid #028090;
}
.textbox input[type=text]{
    width: 100%;
    color: #05608b;
    height: 50px;
    font-size: 16px;
    line-height: 40px;
    border: none;
    padding: 0 10px;
}
.textbox input[type=number]{
    width: 100%;
    height: 50px;
    font-size: 16px;
    line-height: 40px;
    color: #05608b;
    border: none;
    padding: 0 10px;
    appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.error{
    display: none;
}

.error h5{
    padding-top: 5px;
    text-align: left;
    font-size: 14px;
    color: #05608b;
}
.error ::before{
    padding-right: 5px;
    font-weight: lighter;
    color: #05608b;
}

 .submitEntry{
     text-align: center;
     padding-top:20px;
 }
 .submitEntry button{
     cursor: pointer;
     min-width: 100px;
     font-size: 16px;
     font-weight: 700;
     padding: 12px 15px;
     border-radius: 25px;
     color: #028090;
     background-color: white;
    border:2px solid #028090;
 }
 .submitEntry button:hover{
    color: white;
   background-color: #05608b;
    border: 2px solid #05608b;
 }

/* posted reviews section styling */

.deleteButton{
 width: 110px;
 cursor: pointer;
 color: #028090;
 font-size: 22px;
}
.deleteButton :hover{
    color: lightgreen;
}

.entry{
    height: 50px;
    line-height: 50px;
    margin-right: 10px;
    font-size: 16px;
    color:  white;
    padding-left: 10px;
    background-image: linear-gradient(90deg, rgb(2, 128, 144, 0.9), rgb(2, 128, 144, 0.5));
}

/* to debug the problem not able to click on icon */
.fa-trash-alt{
    pointer-events: none;
}

 @media screen and (max-width:768px){
     .row{
         display: block;
     }
     .col{
         width: 100%;
         /* padding-top: 20px; */
     }
     
     .labels{
        margin: 0;
     }
     .textbox{
        margin-right: 0;
    }

    .pageTitle{
        line-height: 36px;
        padding-top: 40px;
        margin: 0;
        padding: 30px 10px 20px 10px;
    }
    .pageTitle h1{
        font-size: 36px;
    }
    .totalCalory{
        margin: 0;
        padding: 5px;
    }
    .entry{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .deleteButton{
        position: relative;
        top: -150px;
       }
 }